.comment {
    background-color: rgba(72, 241, 218, 0.644);

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.616);
    
    margin: 2px;
}

.comment .author {
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;

}

.comment .text {
    margin-left: 5px;

}